# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local
.evn.example

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# macOS application support directories
Library/Application Support/

# Temporary files
tmp/
temp/
uploads/
